
REACT_APP_BACKEND_URL="http://localhost:5000"
REACT_APP_RAPID_API_KEY="50b92e009bmshe264941892b******************"
REACT_APP_RAPID_URL="https://judge0-ce.p.rapidapi.com/submissions"
REACT_APP_HOST_URL="judge0-ce.p.rapidapi.com"