@font-face {
  font-family: "Piyush";
  src: local("Piyush"),
   url("./Font/Piyush.ttf") format("truetype");
  font-weight: bold;
  }

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1c1e29;

  
}


.sidebar {
    margin-top: 3rem;
    padding-top: 3rem;
    width: 35vw;
    height: 85vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #282A36;
    display: grid;
    place-items: center;
    animation-name: breath-animation;
    animation-duration: 3s;
  
  }
  @keyframes breath-animation {
    0% { width: 0vw; }
   
    100% { width: 35vw;  }
   }
  
  .sidebar .closeButton {
    cursor: pointer;
    position: absolute;
    left: 1em;
    top: 1em;
  }

  
  .runButton{
    padding: 1em;
    font-size: 20px;
    cursor: pointer;
    color: rgb(9, 230, 245);
    left: 85%;
    position: fixed;
    top: 40px;
    width: 100px;
  }

#languageSelector{
    cursor: pointer;
    left: 3%;
    position: fixed;
    top: 350px;

}

.select-dropdown,
.select-dropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.select-dropdown {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
#selectHeading{
font-size: small;
position: fixed;
top: 310px;
}

.cssbuttons-io {
  font-family: inherit;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  overflow: hidden;
 }
 
 .cssbuttons-io svg {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
 }
 
 .cssbuttons-io .butspan {
  position: relative;

  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
 }
 
 .cssbuttons-io::before,
 .cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 
 
 .cssbuttons-io:active {
  transform: scale(0.95);
 }
 